<div class="container">
 <div class="row">
  <div class="col-xs-10 offset-1">
   <h5 style="width: 180px; background-color: #DDDDDD; text-align: center;">商品編集</h5>
   <table class="table table-borderless">
    <%= form_with model: @item, url:admin_path(@item.id), local:true do |f| %>
     <%= f.label :image, "商品画像" %>
     <%= f.file_field :image, accept: "image/*", class: "w-100" %>
      <div>
       <div>
        <span class="input-grout-text" aria-hidden="true"><i class="fas fa-building"></i></span>
       </div>
       <%= f.label :name, "商品名" %><%= f.text_field :name, class:"form-control" %>
      </div>
     <%= f.label :introduction, "商品説明" %>
     <%= f.text_area :introduction, class:"form-control" %>
     <%= f.label :price, "税抜価格" %>
     <%= f.text_field :price, class:"form-cntrol" %>円
     <hr>
     <%= f.submit '変更を保存', class:"btn btn-sm btn-success mt-9" %>
    <% end %>
   </table>
  </div>
 </div>
</div>