<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>注文履歴詳細</p>
      <table>
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
              〒<%= @order.postal_code %> <%= @order.address %><br>
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <table class="table table-hover table-inverse">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>注文数</th>
            <th>小計</th>
            <th></th>
          </tr>

        <% @order_details.each do |order_detail| %>
         <tr>
          <td><%= order_detail.item.name  %></td>
          <td><%= order_detail.item.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price*order_detail.amount %></td>
         </tr>
        <% end %>
      </table>
    </div>

    <div class="col-xs-2 offset-1">
      <div class="total">
       <p><strong>商品合計</strong>       <%= @order.total_payment %>円</p>
       <p><strong>送料</strong>           <%= @order.shipping_cost %>円</p>
       <p><strong>請求金額合計</strong>   <%= (@order.total_payment + @order.shipping_cost) %>円</p>
      </div>
    </div>
  </div>

</div>