<div class="container">
　<h5 style="width: 150px; background-color: #DDDDDD; text-align: center;">商品一覧(全<%= @items.count %>件)</h5>
  <div class="row">
    <div class="col-md-12">
      <% @items.last(8).each do |item| %>
        <div class="col-md-3" style="margin: 20px;">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image, size: "160x160" %><br>
            <%= item.name %><br>
            ¥<%= item.price.to_s(:delimited, delimiter: ',') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>