<div class="contaner">
  <div class="row">
    <div>
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div>
      <%= form_with model: @items, url:items_path do |f| %>
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p>¥<%= @item.price*1.1 %>（税込）</p>
    </div>
  </div>

  <div class="row">
  	<div class="col-xs-2">
  	</div>
  	<div class="col-xs-5">
  	</div>

  		<div class="col-xs-5">
  		  <p><%= f.submit "カートに入れる", class: "btn btn-success" %></p>
  		<% end %>
  		</div>
  </div>
</div>